[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pandas = "*"
jupyterlab = "*"
jupyterlab-lsp = "*"
python-lsp-server = "*"
numpy = "*"
jupysql = "*"
ipywidgets = "*"
ipykernel = "*"
chardet = "*"
psycopg2-binary = "*"
polars = "*"
sqlalchemy = "*"
pyarrow = "*"
xarray = "*"
rioxarray = "*"
rio-cogeo = "*"
dask = "*"
kerchunk = "*"
earthaccess = "*"
geojson-pydantic = "*"
geoparquet-pydantic = "*"

[dev-packages]

[requires]
python_version = "3.12"
