[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pandas = "*"
jupyterlab = "*"
jupyterlab-lsp = "*"
python-lsp-server = "*"
numpy = "*"
jupysql = "*"
ipywidgets = "*"
ipykernel = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.11"
